# docker-compose.yml Web Applications

version: '3.8'
services:
  checker_web_green:
    container_name: checker_web_green
    build:
      context: .
      dockerfile: Dockerfile-app
    command: >
      sh -c "pip install --no-cache-dir -r requirements.txt &&
             python manage.py migrate && 
             python manage.py collectstatic --noinput &&
             gunicorn config.wsgi:application --bind 0.0.0.0:8001
    volumes:
      - .:/app
    ports:
      - "8001:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.production

  cron_green:
    container_name: cron_green
    build:
      context: .
      dockerfile: Dockerfile-app
    volumes:
      - .:/app
      - cron_log:/tmp
    depends_on:
      - checker_web_green
    command: >
      sh -c "pip install --no-cache-dir -r requirements.txt &&
             dos2unix command.cron &&
             chmod 0644 command.cron &&
             cat command.cron | crontab - &&
             service cron start &&
             tail -f /dev/null"
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.production

  celery_green:
    container_name: celery_green
    build:
      context: .
      dockerfile: Dockerfile-app
    command: >
      sh -c "pip install --no-cache-dir -r requirements.txt &&
             celery -A config worker -l info"
    volumes:
      - .:/app
    depends_on:
      - checker_web_green
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.production
      - CELERY_BROKER_URL=redis://redis:6379/2

volumes:
  cron_log:

networks:
  default:
    external:
      name: checker_common_network
